html {
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Roboto', sans-serif;
}
/*.container-top {
	width: 900px;
	height: 25px;
	background-color: purple;
}*/
.container-main {
	width: 900px;
	height: 375px;
	background-color: lightgrey;
	color: black;
	font-size: 24px;
}
.container-a {
	width: 450px;
	height: 375px;
	background-color: #eceff1;
	color: #ffff00;
	font-size: 24px;
	position: relative;
    float: left;
}
p {
	font-color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
}
.container-b {
	width: 450px;
	height: 375px;
	background-color: red;
	color: white;
	font-size: 24px;
	position: relative;
    float: left;
}
.container-c {
	display: inline-block;
	width: 900px;
	height: 375px;
	background-color: green;
	color: white;
	text-align: center;
	font-size: 42px;
}



