body {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Roboto', sans-serif;
}
.container-header {
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #424242;
}
.container-main {
	width: 100%;
	height: 425px;
	padding-top: 2em;
	background-image: url("images/biketree2.jpg");
	color: white;
    text-shadow: 1px 1px 10px black;
	font-style: bold;
	font-size: 24px;
	font-family: 'Rubik', sans-serif;
}
.container-main > h1 {
	padding-left: 1.75em;
}
.container-a {
	width: 100%;
	height: 30px;
	background-color: #424242;
	color: #00e676;
	text-shadow: 2px 2px 5px black;
	font-size: 22px;
	line-height: 210%;
	text-align: center;
	position: relative;
    float: left;
}
.container-a > h1 {
	font-family: 'Permanent Marker', cursive;
}
p {
	font-color: #212121;
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 18px;
}
.container-b {
	display: inline-block;
	width: 50%;
	height: 390px;
	background-color: #00e676;
	color: #424242;
	font-family: helvetica;
	font-size: 18px;
	text-align: center;
	position: relative;
    float: left;
}
ul {
	text-align: left;
}
.container-c {
	display: inline-block;
	width: 50%;
	height: 390px;
	background-image: url("images/secondimage.jpg");
	float: right;
}
.container-d {
	display: inline-block;
	width: 100%;
	height: 165px;
	background-color: #424242;
	color: #00e676;
	text-align: center;
	text-shadow: 2px 2px 5px black;
	font-size: 24px;
	line-height: 210%;
}
.container-d > h1 {
	font-family: 'Permanent Marker', cursive;
}
.container-e {
	width: 100%;
	height: 425px;
	background-image: url("images/sunrise.jpg");
}
.container-f {
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: #00e676;

}




